@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}
body {
  background-color: rgb(17, 17, 17);
}
/* shared style */
.btn-parimary {
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  border: none;
  padding: 10px 30px;
}
p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
}
.container {
  width: 90%;
  margin: 4rem auto;
}
header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}
/* navbar style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-menu {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 9px 15px;
  padding-left: 0;
}
.navigation-menu li {
  list-style: none;
  margin-right: 30px;
}
.navigation-menu li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
}
.logo {
  color: rgb(230, 83, 60);
  font-size: 2.2rem;
  font-weight: 800;
  font-style: italic;
}
.home-menu {
  background: rgb(230, 83, 60);
  border-radius: 46px;
  padding: 8px 20px;
}
.ham-barger {
  color: #fff;
  font-size: 24px;
  display: none;
}
.dwonload-btn {
  background: none;
  border: 1px solid #ddd;
}
/* banner style */
.banner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.banner-content {
  margin-top: 25px;
}
.banner-content h3 {
  color: rgb(255, 255, 255);
  font-size: 4.5rem;
  margin-bottom: 28px;
}
.banner-content p {
  margin-bottom: 23px;
}
.shape {
  font-family: "Dancing Script", cursive;
}
.banner-image img {
  margin-top: -20px;
  margin-right: 50px;
}
.banner-image {
  position: relative;
}
.banner-image .card-one {
  width: 206px;
  height: 96px;
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 65px;
  left: -100px;
}
.card-one h4 {
  color: rgb(250, 250, 249);
  font-size: 24px;
  font-weight: 800;
}
.play {
  color: #fff;
  background: red;
  padding: 10px 15px;
  border-radius: 50%;
}
.banner-image .card-two {
  width: 192px;
  height: 97px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 110px;
  right: -20px;
}
.card-two h3 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 800;
}

/* habits-content */
.habits-section {
  margin-top: 0;
}
.habits-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.habits-content h3 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 10px;
}
.habits-content p {
  text-align: center;
  font-size: 0.9rem;
}
.image-container {
  margin-top: 40px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.image-container img {
  border-radius: 50%;
  margin-bottom: 15px;
}
.image-container h4 {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.image-content-1,
.image-content-2,
.image-content-3,
.image-content-4 {
  text-align: center;
}
/* Run an Extra Mile Easily */
.run {
  display: flex;
  gap: 20px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  justify-content: space-between;
}
.run-content {
  padding: 40px;
  width: 50%;
}
.run-content h3 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 18px;
}
.run-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
}
.run-image {
  width: 50%;
}
.run-image {
  padding: 30px;
}
.run-image img {
  width: 100%;
  border-radius: 16px;
}

@media screen and (max-width: 576px) {
  .ham-barger {
    display: block;
  }
  .navigation-menu {
    display: none;
  }
  .navbar {
    margin-top: 30px;
  }
  .banner {
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }
  .banner-image img {
    margin-right: 0px;
  }
  .banner-image .card-two {
    width: 145px;
    padding: 10px;
    height: 80px;
    top: 30px;
    right: 30px;
  }
  .card-two h3 {
    font-size: 30px;
  }
  .card-two p {
    text-align: center;
  }
  .banner-image .card-one {
    width: 150px;
    padding: 10px;
    height: 80px;
    top: 200px;
    left: 10px;
  }
  .banner-image img {
    margin-right: 0px;
  }
  .btn-parimary {
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    padding: 10px 15px;
    margin: 10px;
  }
  .dwonload-btn {
    background: none;
    border: 1px solid #ddd;
  }
  .banner-content h3 {
    color: rgb(255, 255, 255);
    font-size: 2.3rem;
    margin-bottom: 28px;
  }
  .image-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  .habits-content h3 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 15px;
    text-align: center;
  }
  .habits-content p {
    margin-bottom: 30px;
  }

  .image-container img {
    margin-bottom: 25px;
  }
  .run {
    flex-direction: column;
    gap: 10px;
  }
  .run-image {
    width: 100%;
    padding: 20px 30px;
  }
  .run-content {
    width: 100%;
    padding: 20px 40px;
  }
  .run-btn {
    width: 80%;
  }
  .run-button {
    display: flex;
    justify-content: center;
  }
}
